body {
    padding: 25px;
    background: url('https://w0.peakpx.com/wallpaper/109/311/HD-wallpaper-woman-wearing-black-top-standing-near-yellow-wall.jpg');
    background-repeat: no-repeat;
    background-size:100vw 100vh;
}

#logMessage {
    text-align: center;
    font-size:xx-large;
    margin-top: 50px;
}

#searchbar {
    grid-area: searchbar;
    margin-bottom: 40px;
    border-radius: 40px;
    background-color: aquamarine;
    width: 100%;
}
#list {
    display: grid;
    grid-area: list;
    grid-template-columns: 1fr,1fr;
    grid-template-areas: 'card card2'
    'card3 .';
    gap: 10px;
}
#gridcontainer {
    display: grid;
    grid-template-areas:
    'navbar' 
    'searchbar'
    'list';
    margin-top: 20px;
}
.card-title {
    border: none;
    font-weight: 600;
}
input {
    border: none;
    background-color: transparent;
}
input:focus {
    outline:none;
}
#card1 {
    border-radius: 15px;
    background-color:gainsboro;

}
#card2 {
    border-radius: 15px;
    background-color:gainsboro;
}
#card3 {
    border-radius: 15px;
    background-color:gainsboro;
}
#card4 {
    border-radius: 15px;
    background-color:gainsboro;
}
#card5 {
    border-radius: 15px;
    background-color:gainsboro;
}
#card6 {
    border-radius: 15px;
    background-color:gainsboro;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
    align-items: flex-end;

}
#icon {
    height: 20px;
    width: auto;
    margin-bottom: 8px;
}

#btn {
    margin-top: 50px;
    margin-right: 20px;
    float: right;
}
#new-nav {
    display: flex;
}
.taskitem {
    display:flex;
    gap: 10px;
}
